form {
    padding-top: 2rem;
  }
  
  form input, form button {
    border: 1px solid #8888;
    border-radius: 5px;
    padding: 0.7rem;
  }
  
  form button {
    margin-left: 1rem;
    cursor: pointer;
  }
  
  form button:active {
    transform: scale(0.98);
  }
  